services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.2.5
    container_name: keycloak
    environment:
      - TZ=Europe/Madrid
      - KEYCLOAK_ADMIN=$KEYCLOAK_ADMIN
      - KEYCLOAK_ADMIN_PASSWORD=$KEYCLOAK_ADMIN_PASSWORD
      - PROXY_ADDRESS_FORWARDING=true
      - JAVA_OPTS=-Dkeycloak.socket-bindings.https.max-queued-requests=$KEYCLOAK_MAX_QUEUED_REQUESTS
    ports:
      - '8100:8080'
    command: start-dev --hostname=$KEYCLOAK_FRONTEND_URL --hostname-backchannel-dynamic=true --metrics-enabled=true --http-metrics-histograms-enabled=true --log-level=info --proxy-headers=forwarded --http-enabled=true  --hostname-strict=false --hostname=http://0.0.0.0
